{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#317EFB"/>
  <title>Food Ninja</title>
  <!-- materialize icons, css & js -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css'%}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css'%}">
  <script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/sample.js'%}"></script>
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <!-- ios support -->
  <link rel="apple-touch-icon" href="/img/icons/icon-96x96.png">
  <meta name="apple-mobile-web-app-status-bar" content="#FFE1C4">
</head>
<body class="grey lighten-4">

{% block content %}{% endblock %}

</body>
</html>
